@media all {
    /*gerais*/
    * {
      margin: 0;
      padding: 0;
    }
  
    body::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  
    html {
      height: 100vh;
      width: 100vw;
    }

    body{
        background-color: rgb(18, 18, 18);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }
  
    /*main - parte da avaliação*/

    .Avaliacao1-2{
        background-color: rgb(43, 43, 43);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1em;
        border-radius: 10px;
        width: 70%;
        max-width: 350px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .Avaliacao1-2_Textos img{
        width: 30px;
        background-color: rgb(63, 63, 63);
        border-radius: 50%;
        padding: 4px 5px;
    }

    .Avaliacao1-2_Textos h1{
        font-size: 24px;
        margin-top: 15px;
    }

    .Avaliacao1-2_Textos p{
        color: rgba(255, 255, 255, 0.558);
        margin-top: 10px;
    }

    .Avaliacao1-2_Notas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .Avaliacao1-2_Notas button{
        background-color: rgb(63, 63, 63);
        border-radius: 50%;
        padding: 11px 16px;
        cursor: pointer;
        border: none;
        outline: none;
        color: white;
    }

    .Avaliacao1-2_Notas button:hover{
        background-color: rgb(79, 79, 79);
    }

    .Avaliacao1-2_Notas button:focus{
        background-color: rgb(216, 173, 0);
    }
  
    .Avaliacao1-2_Envio{
        text-align: center;
    }

    .Avaliacao1-2_Envio button{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: rgb(216, 173, 0);
        cursor: pointer;
    }

    .Avaliacao1-2_Envio a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    /*main - Agradecimento*/

    .Avaliacao2-2{
        background-color: rgb(43, 43, 43);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1em;
        border-radius: 10px;
        width: 70%;
        max-width: 350px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        display: none;
    }

    .Avaliacao2-2_Nota{
        background-color: rgb(63, 63, 63);
        color: rgb(216, 173, 0);
        padding: 5px 15px;
        border-radius: 20px;
    }

    .Avaliacao2-2_Nota p{
        font-size: 14px;
    }

    .Avaliacao2-2_Texto{
        text-align: center;
    }

    .Avaliacao2-2_Texto h1{
        font-size: 24px;
        margin-top: 8px;
    }

    .Avaliacao2-2_Texto p{
        color: rgba(255, 255, 255, 0.558);
        margin-top: 10px;
    }
}
